<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Food Donation Application</h1>
    <p>Everyday, families across America are starving. You can help by donating your left over food.</p>
    <a type="button" class="btn btn-lg btn-default" href="localhost:5000/login.html"><span class="glyphicon glyphicon-flash"></span>Login</a>
    <a type="button" class="btn btn-lg btn-primary" href="localhost:5000/register.html"><span class="glyphicon glyphicon-download"></span>Register</a>
  </div>
</div>
</body>
</html>
